/* /* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo{
   
}

.nav_bar{
    width : 100%;
    height:  15vh;
    background-color : red;
    display: flex;
    align-items : center;

}
.nav_link{
    font-size : 20px;
    position: absolute;
    left : 40%;
    display: flex;
    background-color : gold;
    position: relative;
}

.home,.diet,.topic,.fitness_meter,.community,.user{
    display: flex;
    justify-content :space-around;
    padding-left: 50px;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  background-color: rgba(254,127,134,255);
  height: 100vh;


}
.header {
  height: 10vh;
  width: 100vw;
  /* background-color : aqua; */
  display: grid;
  grid-template-columns: 0.7fr 4fr;
}
.grid-item1 {
  margin: auto;
}

.grid-item2 {
  /* background-color : #ecd3b0; */
  background-image: linear-gradient(to bottom right, #ddbe92, #e6ebe8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  height: 40px;
  top: 20px;
  position: relative;
  padding-left: 40px;
  opacity: 1;
}

.inner_item {
  display: flex;
  position: relative;

  margin-top: 5px;
}

.inner_item_text {
  padding: 5px 0px 0px 30px;
}
/* 
.recommendations {
  height: 90vh;
  width: 100vw;
  /* background : red; */
  /* display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */ 

/* .inner_recommendations {
  height: 190px;
  width: 350px;
  background: rgb(23, 136, 102);

  margin: auto;
  border-radius: 10px;
} */

/* .meditation_image{
    border:  2px solid black;
    height : 70vh;
    width : 40vw;
    position : absolute;
    bottom:0;
    right : 0;
    
}; */
.meditation_image img{
    /* border:  2px solid black; */
    height : 70vh;
    width : 40vw;
    position : absolute;
    bottom:0;
    right : 0;
}

.pharse{
    width : 50%;
    height : 500px;
    /* border : 5px solid black; */
    position : relative;
    /* top:50px; */
    left : 80px;
    /* font-family: 'Lora', serif; */
};

 